#movie-search-main {
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 1000px;
    padding: 20px;
    background-color: whitesmoke;
    border-style: solid;
    border-color: black;
    border-radius: var(--corner_radius);
    box-sizing: border-box;
    align-items: center;
}

@media screen and (max-width: 1000px) {
    #movie-search-main {
        zoom: 100%;
        width: 100%;
        margin: auto;
    }

    #Showtimes {
        zoom: 70%;
        width: 100%;
        margin: auto;
    }
}

@media screen and (max-width: 500px) {
    #movie-search-main {
        zoom: 100%;
        width: 100%;
        margin: auto;
    }

}