#Showtimes{
    display: flex;
    height:550px; width:550px;
    overflow:hidden; overflow-y:scroll;
    font-size: 14px;
    box-sizing: border-box;

}

td{
    padding: 7px;
}

#GroupList{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 20px;
    margin-bottom: 10px;
    width: 220px;
}

#GroupView{
    
}